{% extends 'logo/base.html' %}

{% block external %}
{% endblock external %}

{% block title %}
    Product Detail - ShiShiCakes
{% endblock title %}

{% block css %}

.product-img {
text-align: center;
}

.product-img img {
max-width: 100%;
max-height: 400px;
border-radius: 10px;
margin-bottom: 20px;
}

.product-title {
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}

.product-price {
font-size: 20px;
color: #ff6b6b;
font-weight: bold;
margin-bottom: 20px;
}

.product-description {
font-size: 16px;
margin-bottom: 20px;
}

.btn-add-to-cart {
font-size: 18px;
padding: 10px 20px;
border-radius: 5px;
}


{% endblock css %}

{% block content%}
<!-- Main content -->
<div class="container mt-4">
    <form action="{% url 'carts:add_cart' single_product.id %}" method="POST">
        <a href="{% url 'store:store' %}" class="btn d-sm-block d-lg-none btn-outline-secondary mb-1 mt-1">Back</a>
        <hr class="d-sm-block d-lg-none">
        {% csrf_token %}
    <div class="row">

            <div class="col-lg-6">
                <!-- Product Image -->
                <div class="product-img">
                    <a href="{{ single_product.image.url }}"><img src="{{ single_product.image.url }}" alt="{{ single_product.product_name}}"></a>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <!-- Product Details -->
                <div class="border-4 shadow-sm">
                    <div class="card-body">
                        <h1 class="card-title product-title">{{ single_product.product_name | capfirst }}</h1>
                        <p class="card-text fs-5 fw-bold product-price">Price: <span>₦</span>{{ single_product.price | floatformat:"2" }}</p>
                        <hr style="width: 75%;">
                        <h4 class="text-secondary">Description:</h4>
                        <p class="product-description">
                            {{ single_product.description }}
                        </p>
                        <!-- Add to Cart Button -->
                        {% if single_product.stock <= 0 %}
                        <h4 class="mb-3 display-5 text-danger fw-bolder">Out Of Stock</h4>
                        {% else %}
                        <hr style="width: 75%;">
                        <button type="submit" class="btn mb-3 btn-primary btn-add-to-cart">Add to Cart</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- <a href="javascript:history.back()" class="btn btn-secondary d-none d-md-block">Back</a> -->
</div>
{% endblock content %}