{% extends 'logo/base.html' %}

{% block title %}
    Store - ShiShiCakes
{% endblock title %}

{% block css %}
/* Custom styles for store page */
.product-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 20px;
}

.product-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    color: #ff6b6b;
    font-weight: bold;
    font-size: 18px;
}

/* Custom styles for search bar */
.search-form {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
}

@media (max-width: 991.98px) {
    .search-form {
        position: relative;
    }
}

.search-icon {
    cursor: pointer;
}


{% endblock css %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Product Categories -->
        <div class="col-md-3 d-none d-md-block mt-3 mb-4">
            <h4>Filter Based On:</h4>
            <ul class="list-group bg-black">
                <li class="list-group-item bg-secondary"><a class="active text-white text-decoration-none active" href="{% url 'store:store' %}">All Products</a></li>
                {% for link in links %}
                <li class="list-group-item"><a class="text-decoration-none text-primary" href="{{link.get_url}}">{{ link }}</a></li>
                {% endfor %}
                <!-- Add more categories as needed -->
            </ul>
        </div>
        <!-- Product Cards -->
        <div class="col-md-9">
            {% if query %}
<!--             <a href="{% url 'store:store' %}" class="btn d-sm-block d-lg-none btn-outline-secondary mb-3 mt-3">Back</a>
            <hr> -->
            <h1>Search Results</h1>
            <div class="mt-2 mb-2"> <b>{{ product_count }}</b> Item(s) In Inventory</div>
            {% else %}
<!--             <a href="{% url 'logo:index' %}" class="btn d-sm-block d-lg-none btn-outline-secondary mt-3">Back</a>
            <hr class="d-lg-none"> -->
                <h1>Featured Products</h1>
                <div class="mt-2 mb-2"> <b>{{ product_count }}</b> Item(s) In Inventory</div>
            {% endif %}
            <!-- <a href="javascript:history.back()" class="btn d-sm-block d-lg-none btn-secondary mb-3 mt-3">Back</a> -->
            <div class="row">
                <!-- Product 1 -->
                {% for product in products %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <a class="text-decoration-none disabled text-dark" href="{{ product.get_product_url }}"> 
                        <div class="card product-card">
                            <div class="product-img">
                                <img src="{{ product.image.url }}" class="card-img-top" alt="Cake 1">
                            </div>
                            <div class="card-body product-info">
                                <h5 class="card-title product-title">{{ product.product_name }}</h5>
                                <p class="card-text product-price"><span>₦</span>{{ product.price | floatformat:"2" }}</p>
                                <p class="card-text mb-2">Category: {{ product.category.category_name }}</p>
                                <a href="{{ product.get_product_url }}" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                <!-- Add more featured products as needed -->
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}{% if query %}&keyword={{ query }}{% endif %}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                {% endif %}

                {% for num in products.paginator.page_range %}
                    {% if products.number == num %}
                    <!-- this here is for handling  -->
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}{% if query %}&keyword={{ query }}{% endif %}">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}{% if query %}&keyword={{ query }}{% endif %}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                <!-- this will be thesame for the has_previous -->
                {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}{% if query %}&keyword={{ query }}{% endif %}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock content %}
