body {
    font-family: 'Exo 2', sans-serif;
    background-color: #f5f5f5;
}

.container {
    min-height: 750px;
}

.navbar,
footer {
    background-color: rgba(72, 50, 133, 0);
}



footer {
    padding: 10px 0;
    font-size: 14px;
}
